* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  width: 360px;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

h1 {
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #4facfe;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #328ce6;
}

.weather-card {
  display: none;
  margin-top: 15px;
  padding: 15px;
  border-radius: 12px;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  color: #003366;
}

.weather-card p {
  margin-top: 6px;
  font-weight: 500;
}

.advice-card {
  margin-top: 25px;
  padding: 15px;
  background: #f5f7fa;
  border-radius: 12px;
}

#advice {
  font-style: italic;
  color: #555;
  margin: 10px 0;
}
